.row:hover {
  background-color:#b39393;
  cursor: pointer;
}

.allEmpsContainer{
display: flex;
flex-direction: column;
padding: 20px 0px;
background-color:#FF7F7F;
}

.heading{
font-family: "Inter";
font-weight: 700;
font-size: 35px;
margin-bottom: 20px;
margin-right: 40px;
}

.searchFilter{
display: flex;
justify-content: center;
}

.searchFilterContainer{
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.searchBar{
min-width: 250px;
}

.empsList{
margin-bottom: 20px;
}

.pagination{
margin: auto;
}

.progress{
width: 100%;
display: flex;
justify-content: center;
}

.column{
border-right: 1px solid black;
}

.error{
width: 100%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.detailsContainer{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.backArrow{
margin-right: 20px;
}



.text{
font-family: "Inter";
font-size: 30px;
margin-bottom: 20px;
}

.maindiv {
  justify-content: center;
  height: 100%;
  width: 70%;
  background-color: #FFFF;
  justify-content: center;
  align-items: center; 
  margin: auto;
}

.ptitle {
 background-color: #ff8c00;
 margin-top: 20px;
 width: 99%;
 height: 50px;
 padding: 5px;
}

.borderdiv {
  border: 1px solid;
}

.middleContent {
  display: flex;
  flex-direction: row;
}

.rightContent {
  width: 40%;
  margin-left: 10%;
  text-align: left;
  padding: 10px;
}

.leftContent {
  width: 60%;
  text-align: left;
  padding: 10px;
}

li { 
  display:inline; 
}  

.cdiv{
  background-color: #ff8c00;
  color:#ff8c00;
  height: 10px;
}